version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    ports:
      - "3006:3000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_DATABASE=ecommerce
      - CLOUDINARY_CLOUD_NAME=dyigjybua
      - CLOUDINARY_API_KEY=444512872377633
      - CLOUDINARY_API_SECRET=GUJJFmo_J90HUb7YtA1PxGroqko
      - JWT_SECRET=123123123123123nasfajdfasdkjhasdfhjajsdhfakjdfhjasdfaksfhasdhfkjadshfj

  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=ecommerce
    ports:
      - "54322:5432"
    volumes:
      - db_data_dev:/var/lib/postgresql/data

volumes:
  db_data_dev:
    driver: local
